<p id="notice"><%= notice %></p>

<%= form_tag places_path do %>
  city <%= text_field_tag :city, params[:city] %>
  <%= submit_tag "Search" %>
<% end %>

<% if @places %>
  <table>
    <thead>
      <td>name</td>
      <% Place.rendered_fields.each do |f| %>
        <td><%=f %></td>
      <% end %>
    </thead>
    <% @places.each do |place| %>
      <tr>
        <td><%= link_to place.name, place_path(place.id) %></td>
        <% Place.rendered_fields.each do |f| %>
          <td><%= place.send(f) %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>